<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="infoBar">
        <div class="widget">
            <a href="#">
                <span class="transition2"></span>
                <i class="fas fa-info"></i>
            </a>
        </div>
    </div>
    <div class="titleBar row">
        <div class="titleBox col-lg-6 col-sm-12">
            <div class="mainTitle">
                <a th:if="${session.is_Admin == null}" href="#"><h2>Virtual Classroom</h2></a>
                <a th:if="${session.is_Admin == true}" th:href="@{/adminConnected}"><h2>Virtual Classroom</h2></a>
                <a th:if="${session.is_Admin == false}" th:href="@{/userConnected}"><h2>Virtual Classroom</h2></a>
            </div>
            <div class="subTitle">
                <h4>Formation Android et Java</h4>
            </div>
        </div>
        <div class="lineBox col-lg-6 col-sm-0">
            <div class="line d-none d-lg-block">
            </div>
        </div>
    </div>
</div>