<div  th:fragment="informationBox" class="informationBox">
    <div class="informationTitle">
        Information
        <i class="fas fa-plus"></i>
    </div>
    <div class="linkWrap">
        <div class="linkAndInfo">
            <p class="linkTitle">Lesson
                <span class="linkWrapIcons">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
            </p>
            <a href="" class="infoLink">http://www.amonteiro.fr/index.html</a>
        </div>
        <div class="linkAndInfo">
            <p class="linkTitle">Correction
                <span class="linkWrapIcons">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
            </p>
            <a href="" class="infoLink">http://www.amonteiro.fr/index.html</a>
        </div>
    </div>
</div>