<div th:fragment="informationBox" class="informationBox" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="informationTitle">
        <p>Information</p>

        <div th:if="${session.is_Admin == true}" class="infoBox" id="infoBox">
            <a class="addInfo" href="javascript:void(0)" th:onclick="openCreateInformation()">
                <i class="fas fa-plus"></i>
            </a>
            <form class="hiddenCreateInfo" th:action="@{/addInformation}" method="post">
                <input type="text" placeholder="Enter new Information label" class="createInfoText" name="infoName">
                <input type="text" placeholder="Enter new Information link" class="createInfoLink" name="infoLink">
                <input type="submit" value="OK" class="createInfoBtn">
            </form>
        </div>


    </div>

    <div class="linkWrap">
        <div class="linkAndInfo" th:each="info: ${information}">
            <p class="linkTitle" th:text="${info.getInformation_label()}"></p>
                <span class="linkWrapIcons">
                    <button class="deleteIcon" data-toggle="modal" data-target="#updateInfo">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="deleteIcon" data-toggle="modal" data-target="#deleteInfo">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </span>
            <a href="" class="infoLink" th:value="${info.getInformation_url()}">
                <p th:text="${info.getInformation_url()}"></p>
            </a>
        </div>
    </div>
</div>