<div th:fragment="navBarAdmin" class="navBarAdmin" id="teacherMenu" xmlns:th="http://www.thymeleaf.org">
    <a href="javascript:void(0);" class="burgerIcon" onclick="openBurger()">
        <i class="fa fa-bars"></i>
    </a>
    <!-- Teacher menu -->
    <ul class="nav teacherMenu col-lg-7 col-md-7 col-sm-9">
        <li class="teacherMenuItem" id="topTeacherMenuItem">
            <a th:if="${session.classroom != null}" class="" th:href="@{/CreateQuestionPage}">
                <button class="navButton">Create Question</button>
            </a>
            <a th:if="${session.classroom == null}">
                <button class="navButton" id="questionHasNoClassroom">Create Question</button>
            </a>
        </li>
        <li class="teacherMenuItem" id="bottomTeacherMenuItem">
            <a class="" href="/">
                <button class="navButton">Classroom List</button>
            </a>
        </li>
    </ul>
    <!-- End teacher menu -->
    <div class="adminProfileBox" id="adminProfileBox">
        <h5 class="profileName col-sm-0">
            <p class="d-md-block" th:text="${session.login_first}"></p>
        </h5>
        <a class="profileIcon" href="javascript:void(0)" th:onclick="openAdminProfile()">
            <i class="fas fa-user"></i>
        </a>
        <div class="hiddenProfile">
            <a th:href="@{/ProfilePage}">
                <p id="topProfile">Profile</p></a>
            <a th:href="@{/Logout}">
                <p id="bottomProfile">Logout</p></a>
        </div>
    </div>
</div>