<div th:fragment="studentFrame" class="studentFrame">
    <div class="frameHeader"> DEV19-03
        <div class="frameHeaderOptions">
            <button class="updateFrame"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="deleteFrame"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="frameBody">
        <ul>
            <li>Name1<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name2<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name3<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name4<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name5<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name6<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name7<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
            <li>Name8<button class="deleteIcon"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
        </ul>
    </div>
</div>