<div th:fragment="titlePage" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="pageTitle w-100" id="title">
        <div class="title">
            <h1 th:text = "${title}"></h1>
        </div>
        <div class="underline">
            <span></span>
        </div>
    </div>
</div>
<!--            <div class="pageTitle" id="title">-->
<!--                <div class="title">-->
<!--                    <h1>Create question</h1>-->
<!--                </div>-->
<!--                <div class="underline">-->
<!--                    <span></span>-->
<!--                </div>-->
<!--            </div>-->