/* right part content */
.teacherRightContent {
    margin-left: 35px;
    width: 600px;
}

.questionBox {
    box-shadow: 2px 2px 5px rgba(65, 65, 70, 1);
}

.questionBar {
    display: flex;
    background: rgba(65, 65, 70, 1);
    color: rgba(255, 255, 255, 1);
    padding: 6px 10px;
}

@media screen and (max-width: 830px) {
    .questionBar {
        flex-direction: column;
    }

    .questionContent {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .topIcons {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .questionBox {
        margin: 0 15px 15px 0;
    }
}

.questionContent {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .questionContent {
        display: flex;
        flex-direction: column;
        max-width: none;
    }

    .topIcons {
        max-width: none;
    }
}

.questionContent input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(65, 65, 70, 1);
    color: rgba(255, 255, 255, 1);
}

.topIcons {
    margin: 10px 0;
    display: flex;
}

.options {
    display: flex;
    justify-content: space-between;
}

.answerBody {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.answer {
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 30px 0;
}

.addAnswer {
    text-align: end;
    font-size: 2.5rem;
}

.newAnswerContent {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.answerButtonBar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}

.saveQuestion {
    background: rgba(255, 214, 0, 1);
    color: rgba(255, 255, 255, 1);
    width: 75px;
    height: 40px;
    border: none;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px rgba(65, 65, 70, 1);
    margin: auto 0;
}

/*.CreateQuestionForm {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*}*/

.error {
    text-align: center;
    background: red;
    color: white;
}

@media only screen and (max-width: 990px) {
    /* for small screen */
    .teacherContent {
        margin-left: 0px;
        width: 100%;
    }

    .questionBox {
        padding: 0px;
    }

    .questionBar {
        display: block;
    }

    .questionContent input {
        min-width: 140px;
        border-top: none;
        border-left: none;
        border-right: none;
        background: rgba(65, 65, 70, 1);
        color: rgba(255, 255, 255, 1);
    }

    .topIcons span {
        margin-left: 5px;
    }

    .radio, .checkbox {
        margin-top: 6px;
    }

}