/* left part content */
.teacherLeftContent {
    display: flex;
    flex-direction: column;
    width: 200px;
}
/* information box */
.informationBox {
    box-shadow: 2px 2px 5px rgba(65, 65, 70, 1);
}
.informationTitle {
    background: rgba(65, 65, 70, 1);
    color: rgba(255,214,0,1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.fa-plus {
    padding: 5px;
}
.linkWrap {
    padding: 10px;
}
.linkAndInfo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
.linkTitle {
    margin: 0;
    color: rgba(255,214,0,1);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}
.linkWrapIcons {
    font-size: small;
    padding-top: 5px;
}
.linkTitle .fa-pencil, .linkTitle .fa-trash {
    color: rgba(65, 65, 70, 1);
}

.infoLink {
    color: rgba(65, 65, 70, 1);
    font-size: 13px;
}
/* end information box */
/* display student box */
.studentFrame {
    box-shadow: 2px 2px 5px rgba(65, 65, 70, 1);
    margin-top: 20px;
}
.frameHeader {
    display: flex;
    justify-content: space-between;
    background: rgba(65, 65, 70, 1);
    color: rgba(255,214,0,1);
    padding: 10px;
}
button.updateFrame, button.deleteFrame {
    background: none;
    border: none;
}
.updateFrame .fa-pencil,.deleteFrame .fa-trash {
    color: rgba(255,214,0,1);
}
.frameBody {
    padding: 10px;
}
.frameBody ul {
    padding-left: 10px;
}
.frameBody ul li {
    display: flex;
    justify-content: space-between;
}
.deleteIcon {
    border: none;
    background: none;
}
.deleteIcon .fa-trash {
    color: rgba(65,65,70,1);
}
/* end display student box */