/* title part */
main {
    background: rgba(255, 255, 255, 1);
    margin: 20px 0;
}

.pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    width: 100%;
    margin: 30% 0 !important;
    font-family: 'Bebas Neue', cursive;
}

.underline {
    background: rgba(255,214,0,1);
    height: 5px;
    margin: 0 10px;
}

.teacherContent {
    width: 100%;
    display: flex;
    padding: 40px;
}