.profileLine {
    display: flex;
    justify-content: space-around;
}
.profileContent {
    width: 100%;
    padding: 5% 10%;
}
.profileLine {
 margin: 20px 0px;   
}
.labelContent {
    width: 200px;
    padding: 2px 5px;
}
.profileUpdate {
    display: flex;
    justify-content: flex-end;
}
.frameLabel {
    background: rgba(255,214,0,1);
    width: 100px;
    text-align: center;
    color: rgba(106,106,106,1);
    box-shadow: 2px 2px 5px rgba(106, 106, 106,1);
    font-weight: bold;
}
.profileEmail, .profileLastName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* on change profile information */
.newProfileInput{
    border:none;
    border-bottom: 2px rgba(0,0,0,.6) solid;
}
.btnLastName, .btnEmail {
    display: contents;
}