main {
    background: rgba(255, 255, 255, 1);
    margin: 20px 0px;
}

@media screen and (max-width: 550px) {
    .teacherLeftContent {
        width: 150px;
    }
}

.informationBox {
    box-shadow: 2px 2px 5px rgba(65, 65, 65, 1);
}

.informationTitle {
    background: rgba(65, 65, 70, 1);
    color: rgba(255, 214, 0, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.fa-plus {
    padding: 5px;
}

.linkAndInfo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    flex-direction: column;
}

.linkAndInfo p {
    margin: 0px;
    color: rgba(255, 214, 0, 1);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}

.linkWrapIcons {
    font-size: small;
    padding-top: 5px;
}

.linkAndInfo p .fa-pencil {
    color: rgba(65, 65, 70, 1);
}

.linkAndInfo p .fa-trash {
    color: rgba(65, 65, 70, 1);
}

.linkWrap {
    padding: 10px;
}

.infoLink {
    color: rgba(65, 65, 70, 1);
    font-size: 13px;
}

@media screen and (max-width: 992px) {
    .questionContent {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .teacherRightContent {
        width: 300px;
        margin-left: 10px;
    }
}

.questionBox {
    box-shadow: 2px 2px 5px rgba(65, 65, 65, 1);
    margin-block-end: 10px;
}

.questionBar {
    display: flex;
    justify-content: space-between;
    background: rgba(65, 65, 70, 1);
    color: rgba(255, 255, 255, 1);
    padding: 2px 10px;
}

.questionContent {
    display: flex;
    align-items: flex-start;
}

.questionLabel {
    color: rgba(255, 214, 0, 1);
    padding: 0px !important;
    margin-right: 15px;
}

.questionLabelStudent {
    color: rgba(255, 214, 0, 1);
    padding: 0px !important;
    margin-right: 15px;
}

.topIcons {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.lockIcon {
    margin: 12px;
}

.fa-lock {
    color: rgba(255, 255, 255, 1);
}

.arrowIcon {
    position: relative;

}

.fa-sort-down {
    color: rgba(255, 255, 255, 1);
    font-size: xx-large;
}

.fa-sort-up {
    color: rgba(255, 255, 255, 1);
    font-size: xx-large;
    margin-top: 15px;
}

.hiddenAnswer {
    margin-bottom: 20px;
}

.showAnswer {
    display: block;
}

.answerContent {
    padding: 15px;
}

.answerTable {
    width: 100%;
}

.answerTableHeader, .answerTableBody {
    text-align: center;
}

.answerOrder {
    display: grid;
}

.answerButtonBar {
    display: flex;
    justify-content: flex-end;
}

.btnAnswer {
    background-color: rgba(255, 214, 0, 1);
    padding: 5px 15px;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin: 0 15px 5px 0;
}

.teacherOk:hover {
    box-shadow: 2px 2px 5px rgba(136, 136, 136, 1) !important;
}

.answerFooter {
    background-color: rgba(65, 65, 70, 1);
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.updateQuestion {
    margin: 0px 5px;
    background: rgba(65, 65, 70, 1) !important;
    border: none !important;
    color: rgba(255, 255, 255, 1) !important;
}

.deleteQuestion {
    margin: 0px 5px;
    background: rgba(65, 65, 70, 1) !important;
    border: none !important;
    color: rgba(255, 255, 255, 1) !important;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 400px;
}

.chosenAnswer {
    text-align: center;
}

.fa-check {
    color: rgba(255, 214, 0, 1);
}