.navBarUser {
    background: rgba(65, 65, 70, 1);
    height: 64px;
    padding: 0px 15px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}


.teacherMenuItem a:hover {
    text-decoration: none;
}

.navButton {
    display: flex;
    align-content: space-around;
    background: rgba(102, 102, 102, 1);
    color: rgba(255, 214, 0, 1);
    border: none;
    padding: 7px 20px;
}

.error {
    text-align: center;
    background: red;
    color: white;
}

@media screen and (max-width: 576px) {

    .burgerIcon {
        display: flex;
        align-items: center;
        color: rgba(255, 214, 0, 1);
        font-size: 35px;
        margin-left: 20px;
        text-decoration: none;
    }

    .burgerIcon:hover {
        color: rgba(255, 214, 0, 1);
        text-decoration: none;

    }
}

@media screen and (max-width: 576px) {
    .openTeacherMenu .teacherMenu {
        display: flex;
        justify-content: center;
        background: rgba(102, 102, 102, 1);
        margin: auto;
        margin-left: 18px;
        padding: 0px;
        box-shadow: 4px 7px 5px black;
    }

    .openTeacherMenu .burgerIcon {
        display: flex;
        align-items: center;
        color: rgba(255, 214, 0, 1);
        font-size: 35px;
        margin-left: 20px;
        text-decoration: none;
    }

    .openTeacherMenu .teacherMenuItem {
        margin: 0px;
        display: flex;
        justify-content: center;
        width: 184px;
        box-shadow: none;
    }

    .openTeacherMenu #bottomTeacherMenuItem {
        border-top: 1px solid black;
    }
}

.profileName {
    margin: 18px;
    color: white;
}

.profileIcon {
    display: flex;
    align-items: center;
    /* margin: 7px; */
}

.hiddenProfile {
    display: none;
}

.openProfileBox .hiddenProfile {
    display: flex;
    flex-direction: column;
    background: rgba(102, 102, 102, 1);
    position: absolute;
    margin-top: 64px;
    box-shadow: 4px 7px 5px black;
    width: 115px;
    align-items: center;
}

.openProfileBox .hiddenProfile p {
    margin-bottom: 5px;
    font-size: 18px;
    color: rgba(255, 214, 0, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#bottomProfile {
    border-top: 1px solid black;
}

.fa-user {
    font-size: 35px !important;
    color: rgba(255, 214, 0, 1);
}

.content {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}

.updatePasswordFrame {
    box-shadow: 5px 1px 10px #888888;
}

.updatePswForm {
    margin: 45px 0px;
}

.updatePswField {
    display: flex;
    flex-direction: row;
}

.updatePswLabel {
    width: 40%;
    text-align: center;
    line-height: 2.2;
    border: 1.5px rgba(255, 214, 0, 1) solid;
    background: rgba(255, 214, 0, 1);
    font-weight: bold;
    margin: auto 0px;
}

@media screen and (max-width: 520px) {
    .updatePswLabel {
        width: 200px;
        font-size: small;
    }

    .updatePswInput {
        width: 600px;
        font-size: small;
    }
}

.showEye .updatePswField .fa-eye-slash {
    display: flex;
}

.fa-eye {
    margin: auto;
    padding-left: 5px;

}

.updatePswInput {
    text-align: center;
    margin: auto 0px;
    width: 300px;
}

.updatePswFormBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 35px
}

.updatePswBtn {
    color: rgba(255, 255, 255, 1) !important;
    border: 1px rgba(255, 214, 0, 1) solid !important;
    background: rgba(255, 214, 0, 1) !important;
    padding: 6px 30px !important;
    font-weight: bold !important;

}

.updatePswBtn:hover {
    box-shadow: 3px 3px 7px #888888 !important;
}

.backBtn {
    font-size: 1.5em !important;
    padding: 0px 20px !important;
}

.backBtn a {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none;

}

.backBtn a:hover {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none;
}

footer {
    background: rgba(65, 65, 70, 1);
    border-bottom: 20px rgba(255, 214, 0, 1) solid;
}

.footerGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
}

.trademark {
    color: rgba(255, 255, 255, 1);
}

.toTheTop {
    display: flex;
    background: rgba(255, 214, 0, 1);
    height: 40px;
    width: 40px;
}

.toTheTop:hover {
    box-shadow: 7px 9px 0px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 7px 9px 0px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 7px 9px 0px 0px rgba(255, 255, 255, 0.5);
}

.transition {
    transition: all 500ms linear;
}

.toTheTop a {
    margin: auto;
}

.fa-angle-up {
    font-size: 2em;
    color: rgba(255, 255, 255, 1);
}