<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html :: head"/>

<title>Create question page</title>

<body>
<header id="header" th:replace="fragments/header.html :: header"/>
<div th:replace="fragments/navBarAdmin:: navBarAdmin"/>
<main>
    <div class="pageContent">
        <!--  title content      -->
        <div th:replace="~{fragments/titlePage.html :: titlePage(title='Create Question')}"></div>
        <div class="teacherContent">
            <!-- Left part -->
            <div class="teacherLeftContent col-sm-4 col-lg-3">
                <!-- Left part -->
                <span th:replace="~{fragments/informationBox.html :: informationBox}"/>
                <div class="studentFrame">
                    <div class="frameHeader">
                        <p class="classTitle" th:text="${session.classroom.getClassroom_name()}"></p>
                    </div>
                    <div class="frameBody">
                        <ul th:each="student: ${students}" class="studentList">
                            <li th:text="${student.getUser_name()}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Right part -->
            <div class="teacherRightContent">
                <!-- msg box -->
                <div class="errorBox">
                    <span id="missing-Q-type" class="error"
                          style="display: none">Please select a type of question : radio or checkbox</span>
                    <span id="emptyQuestionContent" class="error"
                          style="display: none">Missing question content</span>
                    <span id="emptyOption" class="error"
                          style="display: none">There should be at least one option for this question</span>
                    <!--/*@thymesVar id="emptyField" type="java"*/-->
                    <!--                    <p th:if="${emptyField}" class="error">Please enter missing data</p>-->
                    <!--/*@thymesVar id="isRadioEmpty" type="java"*/-->
                    <!--                    <p th:if="${isRadioEmpty}" class="error">Question option empty</p>-->
                    <!--/*@thymesVar id="emptyContent" type="java"*/-->
                    <!--                    <p th:if="${emptyContent}" class="error">Content empty</p>-->
                    <!--/*@thymesVar id="questionSuccess" type=""*/-->
                    <!--                    <p th:if="${questionSuccess}" class="error">The question has been sent</p>-->
                </div>
                <div class="questionBox">
                    <!--/*@thymesVar id="QuestionDao" type="java"*/-->
                    <form class="CreateQuestionForm" method="post" id="CreateQuestionForm" th:action="@{/sendQuestion}">
                        <div class="questionBar ">
                            <div class="questionContent col-7">
                                <!-- set question -->
                                <input class="col-12" type="text" id="question" name="question_content"
                                       placeholder="Enter the new question here.">
                            </div>
                            <div class="topIcons col-5">
                                <!-- Display answer options type-->
                                    <span><input type="radio" class="radio" name="option" th:value="radio"/> Radio </span>
                                    <span><input type="radio" class="checkbox" name="option" th:value="checkbox"/> Checkbox </span>
                            </div>
                        </div>
                        <!-- end question bar -->
                        <!-- answer setting part -->
                        <div class="answerBar">
                            <div class="newAnswerContent">
                                <div class="answerBody">
                                    <input type="text" name="option_content[]" th:class="answer"
                                           placeholder="Possible answer"/>
                                    <input type="text" name="option_content[]" th:class="answer"
                                           placeholder="Possible answer"/>
                                </div>
                                <div class="answerButtonBar">
                                    <span id="addAnswer" class="addAnswer">+</span>
                                    <input type="button" class="saveQuestion" id="saveQuestion" value="Save">
                                </div>
                            </div>
                            <div class="answerFooter">
                                <div clas="answerFooterIcons">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer.html :: footer"/>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
