<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <div th:replace = "fragments/head.html :: head" />

    <!-- CSS stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile-style.css}"/>

    <title>Profile page</title>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header id="header" th:replace = "fragments/header.html :: header" />
        <!-- MenuBar -->
        <div th:replace="fragments/navBarUser.html :: navBarUser" />
        <main>
            <div class="pageContent">
                <div th:replace = "~{fragments/titlePage.html :: titlePage(title='Profile')}"></div>
            <div class="profileContent">
                <div class="profileLine">
                    <div class="profileLabel col-4"><div class="frameLabel"><span class="labelContent">First Name</span></div></div>
                    <div class="profileFirstName col-4">toto</div>
                    <div class="profileUpdate  col-4"><a href="#" class="btnFirstName">Update</a></div>
                </div>
                <div class="profileLine">
                   <div class="profileLabel col-4"><div class="frameLabel"><span class="labelContent">Last Name</span></div></div>
                   <div class="profileLastName col-4">De Montmirail</div>
                   <div class="profileUpdate col-4"><a href="#" class="btnLastName">Update</a></div>
                </div>
                <div class="profileLine">
                    <div class="profileLabel col-lg-4 col-4"><div class="frameLabel"><span class="labelContent">Email</span></div></div>
                    <div class="profileEmail col-lg-4 col-4">monjoireSaintDenis@gmule.com</div>
                    <div class="profileUpdate col-lg-4 col-4"><a href="#" class="btnEmail">Update</a></div>
                </div>
                <div class="profileLine">
                    <div class="profileLabel col-4"><div class="frameLabel"><span class="labelContent">Password</span></div></div>
                    <div class="profilePassword col-4">**********</div>
                    <div class="profileUpdate col-4"><a href="#" class="btnPwd">Update</a></div>
                </div>
            </div>
        </div>
        </main>
        <footer th:replace = "fragments/footer.html :: footer" />
        <script>
        // change first name
            $(".btnFirstName").click(function() {
                $(".profileFirstName " ).replaceWith('<input type="text" name="FirstName" value=""  class="newProfileInput col-4" placeholder="New first name">');
                $(this).replaceWith('<a href="#" class="btnFirstName">Save</a>');
                $(".btnFirstName").click(function(){
                    window.location.href = "Profile";
                });
            });
        // change last name
            $(".btnLastName").click(function() {
                $(".profileLastName ").replaceWith('<input type="text" name="LastName" value=""  class="newProfileInput col-4" placeholder="New last name">');
                $(this).replaceWith('<a href="#" class="btnLastName col-4">Save</a>');
                $(".btnLastName").click(function(){
                    window.location.href = "Profile";
                });
            });
        // change email
            $(".btnEmail").click(function() {
                $(".profileEmail").replaceWith('<input type="text" name="Email" value=""  class="newProfileInput col-4" placeholder="New email">');
                $(this).replaceWith('<a href="#" class="btnEmail col-4">Save</a>');
                $(".btnEmail").click(function(){
                    window.location.href = "Profile";
                });
            });
        // change password
            $(".btnPwd").click(function () {
                    window.location.href = "UpdatePassword";
            });
        // toggle menu on click to the user icon
        function openUserProfile() {
            let userProfile = document.getElementById("userProfileBox");
            if(userProfile.className === "profileBox col-lg-12 col-md-12"){ // Caution the col are working in a user menu configuration !!!!
                userProfile.className += " openProfileBox"
            }
            else{
                userProfile.className = "profileBox col-lg-12 col-md-12"
            }
        }
        </script>

    </div>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>