<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <div th:replace = "fragments/head.html :: head" />

    <!-- CSS Stylesheet   -->
    <link rel="stylesheet" th:href="@{/css/footer.css}" media="screen" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/teacherPageStyle.css}" media="screen" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/navBar.css}" media="screen" type="text/css" />
    <script type="text/javascript" th:src="@{/css/functions.js}"></script>

    <title>Teacher page</title>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header id="header" th:replace = "fragments/header.html :: header" />
        <!-- MenuBar -->
        <div th:if="${session.is_Admin == true}"  >
            <div th:replace="~{fragments/navBarAdmin.html :: navBarAdmin}"></div>
        </div>
        <div th:if="${session.is_Admin == false }" >
            <div th:replace="~{fragments/navBarUser.html :: navBarUser}"></div>
        </div>

        <main>
            <div class="pageContent">
                <div th:replace = "~{fragments/titlePage.html :: titlePage(title='Questions')}"></div>
                <div class="teacherContent">

                    <!-- Left part -->
                    <div class="teacherLeftContent">
                        <span th:replace = "~{fragments/teacherLeftContent.html :: teacherLeftContent}" />
                    </div>

                    <!-- Right part -->
                    <div class="teacherRightContent">
<!--                        look at it this is when u have to load the function-->
                        <div class="questionBox" th:each="question: ${questions}">
                            <div class="questionBar">
                                <div class="questionContent" >
                                    <span class="questionTitle">Question: </span>
<!--                                    use the id question to identify the question from the others -->
                                    <div th:class="questionLabel"  th:text="${question.getQuestion_content()}"></div>
                                </div>
                                <div class="topIcons">
                                    <a class="lockIcon" role="button">
                                        <i class="fa fa-lock" id="locker"></i>
                                    </a>
                                    <a class="arrowIcon"   data-toggle="collapse" href="#answer" role="button" aria-expanded="false" aria-controls="collapse">
                                    <i class="fas fa-sort-down" th:id="${question.getId_question()}"></i></a>
                                </div>
                            </div>
<!--                            choice of answer-->
                            <div th:id="hiddenAnswer" th:class="hiddenAnswer" th:classappend="${question.getId_question()}">
                                <div class="answerContent" th:each="option: ${question.getOptions()}">
<!--                                    <div th:text="${question.getIsRadio()}"></div>-->
                                    <span th:if="${question.getIsRadio()== false }"><input th:type="radio" th:name="option_type"></span>
                                    <span th:if="${question.getIsRadio()== true }"><input th:type="checkbox" th:name="option_type"></span>
<!--                                        -->
                                    <label class="answerBody" th:text="${option.getOption_content(question.getId_question())}"></label>
                                </div>
<!--                                button ok-->
                                <div class="answerButtonBar">
                                    <button id ="btnAnswer" class="btnAnswer">OK</button>
                                </div>
                                <div class="answerFooter">
                                    <div class="answerFooterIcons">
                                        <button class="updateAnswer"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                        <button class="deleteAnswer"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script>
            $(".btnAnswer").click(function(e) {
                console.log("btn clicked");
            });
        </script>
        <footer th:replace = "fragments/footer.html :: footer" />
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>