<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link bootstrap -->
    <link rel="stylesheet" th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!-- <link rel="stylesheet" href="View/updatePassword.css"/> -->
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- Links jquery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{//code.jquery.com/jquery-3.4.1.slim.min.js}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
    <title>Update Password</title>
</head>
<body>
<div class="container">
    <header id="header">
        <div class="infoBar">
            <div class="widget">
                <a href="#">
                    <span class="transition2"></span>
                    <i class="fas fa-info"></i>
                </a>
            </div>
        </div>
        <div class="titleBar row">
            <div class="titleBox col-lg-6 col-sm-12">
                <div class="mainTitle">
                    <h2>Virtual School</h2>
                </div>
                <div class="subTitle">
                    <h4>Formation Android et Java</h4>
                </div>
            </div>
            <div class="lineBox col-lg-6 col-sm-0">
                <div class="line d-none d-lg-block">
                </div>
            </div>
        </div>
        <div class="navBarUser" id="teacherMenu">
            <a href="javascript:void(0);" class="burgerIcon" onclick="openBurger()">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Teacher menu -->
            <ul class="nav teacherMenu col-lg-7 col-md-7 col-sm-10" >
                <li class="teacherMenuItem" id="topTeacherMenuItem">
                    <a class="" href="#">
                        <button class= "navButton">Create Question</button>
                    </a>
                </li>
                <li class="teacherMenuItem" id="bottomTeacherMenuItem">
                    <a class="" href="#">
                        <button class= "navButton">Classroom List</button>
                    </a>
                </li>
            </ul>
            <!-- End teacher menu -->
            <div class="profileBox col-lg-5 col-md-4" id="userProfileBox">
                <h5 class="profileName col-sm-0">
                    <div class="d-none d-md-block">
                        Anthony</div>
                </h5>
                <a class="profileIcon" href="javascript:void(0);" onclick="openUserProfile()">
                    <i class="fas fa-user"></i>
                </a>
                <div class="hiddenProfile">
                    <p id="topProfile">Profile</p>
                    <p id="bottomProfile">Logout</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="pageContent">
            <!-- Page title -->
            <div class="pageTitle" id="title">
                <div class="title">
                    <h1>Update Password</h1>
                </div>
                <div class="underline">
                    <span></span>
                </div>
            </div>
            <!-- TODO: responsive not operative! Add bootstrap classes. -->
            <!-- TODO: On eyes click problem with the width on the containing frames. Tried "justify-content: space-between", didn't work, nor separate divs. investigating -->
            <!-- Pwd update form -->
            <div class="content">
                <div class="updatePasswordFrame col-lg-8 col-md-10 col-sm-12">
                    <form class="updatePswForm has-success col-lg-12" action="">
                        <!-- current pwd -->
                        <div class="updatePswField form-group">
                            <label for="currentPassword" class ="updatePswLabel col-sm-0">Current Password</label>
                            <input type="password" class="updatePswInput form-control rounded-0" id="currentPassword" placeholder="Current Password">
                            <i class="fas fa-eye toggle-password" id="eyes1" toggle="#currentPassword"></i>
                        </div>
                        <!-- New pwd -->
                        <div class="updatePswField form-group">
                            <label for="newPassword" class ="updatePswLabel col-sm-0">New Password</label>
                            <input type="password" class="updatePswInput form-control rounded-0" id="newPassword" placeholder="New Password">
                            <i class="fas fa-eye toggle-password" id="eyes2" toggle="#newPassword"></i>
                        </div>
                        <!-- Repeat new pwd -->
                        <div class="updatePswField form-group">
                            <label for="repeatPassword" class ="updatePswLabel col-sm-0">Repeat Password</label>
                            <input type="password" class="updatePswInput form-control rounded-0" id="repeatPassword" placeholder="Repeat New Password">
                            <i class="fas fa-eye toggle-password" id="eyes3" toggle="#repeatPassword"></i>
                        </div>
                        <!-- Button bottom -->
                        <div class= "updatePswFormBtn row">
                            <!-- Back btn -->
                            <a href="LoginPage">
                                <button type="button" class="updatePswBtn backBtn rounded-0">
                                    <i class="fas fa-angle-double-left"></i></button>
                            </a>
                            <!-- Save btn -->
                            <button type="submit" class="updatePswBtn rounded-0">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- footer -->
        <div class="footerGrid">
            <div class="policyBox">
                <p class="trademark">© 2014 All Rights Reserved.</p>
                <p class="company">Fiche Entreprise MONTEIRO ANTHONY
                    <br> Information des Entreprises</p>
            </div>
            <div class= "toTheTop transition">
                <a href="#title">
                    <i class="fas fa-angle-up"></i>
                </a>
            </div>
        </div>
    </footer>
</div>
<script>
    function openBurger() {
        let burg = document.getElementById("teacherMenu");
        if(burg.className === "navBarUser"){
            burg.className += " openTeacherMenu";
        }
        else{
            burg.className = "navBarUser"
        }
    }
    function openUserProfile(){
        let userProfile = document.getElementById("userProfileBox");
        if(userProfile.className === "profileBox col-lg-5 col-md-4"){
            userProfile.className += " openProfileBox"
        }
        else{
            userProfile.className = "profileBox col-lg-5 col-md-4"
        }
    }

    // function that toggles the input type - to text (show psw) and password (hide psw)
    function togglePassword(input){
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } 
        else {
            input.attr("type", "password");
        }
    }
    // !!! jquery part do not delete it  !!!
    $(document).ready(function() {
        // TODO: make the clear field operative
        // event listener click on i tag ....- .toggle-password is pointing to the specific class of the eye icon
        $(".toggle-password").click(function() {
            // store the retrieved class name of the clicked icon
            let clickedIcon = $(this).attr("id");
            // store the value of the toggle attribute of each clicked icon
            let inputPsw = $($(this).attr("toggle"));
            // check if the icon clicked is concerned
            if(clickedIcon === "eyes1") {
                // icon change
                $( "#eyes1" ).toggleClass( "fa-eye-slash", "fa-eye" );
            }
            else if(clickedIcon === "eyes2") {
                // icon change
                $( "#eyes2" ).toggleClass( "fa-eye-slash", "fa-eye" );
            }
            else if(clickedIcon === "eyes3") {
                // icon change
                $( "#eyes3" ).toggleClass( "fa-eye-slash", "fa-eye" );                           
            }
            // call the function that toggles the type of selected input ID
            togglePassword(inputPsw);
        });
        // TODO: jquery button function not yet working
        // save new password
        $(".updatePswBtn").click(function() {
            // return to login page
            window.location.href = "LoginPage";
        });

    });


</script>
<!-- Links icons -->
<script src="https://kit.fontawesome.com/b09ddc6dd2.js" crossorigin="anonymous"></script>


<!-- Links bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
