body {
    background: rgba(102,102,102,1)!important;
    margin:auto !important;
    min-width: 400px !important;
    max-width: 1004px !important;
}
.mainContainer{
    margin:auto !important;
}
.widget a {
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    color: rgba(102,102,102,1);
    cursor:pointer;
    display: flex;
    border-bottom: 4px rgba(255, 214, 0, 1) solid;
    transition: border-bottom 200ms linear;
}

.widget a:hover  {
    color: rgba(255, 255, 255, 1);
    border-bottom: 50px rgba(255, 214, 0, 1) solid;
}

.fa-info {
    position: absolute;
    margin: 17px 22px;
}

.infoBar {
    height: 74px;
}
.titleBar {
    background: rgba(255, 214, 0, 1);
    height: 137px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: auto !important;
}
.titleBar h2 {
    color: rgba(255,255,255,1);
    font-size: 3rem;    
}
.titleBar a:hover{
    text-decoration: none !important;
}
.titleBar h4 {
    color: rgba(102,102,102,1);
    font-size: 2;
}
.titleBox {
    position: relative !important;
    /* width: 50%; */
    padding: 1.5% 8% !important;
}
.titleBox, .pageTitle, .classroomList{
    font-family: 'Bebas Neue',cursive;
   
}
.line {
    background: rgba(255, 255, 255, 1);
    height: 2px;
    width: 90%;
}
.lineBox {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
}
.navBarUser {
    background: rgba(65,65, 70, 1);
    height: 64px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.teacherMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.teacherMenuItem{
    margin: 13px;
}
.teacherMenuItem a:hover{
    text-decoration: none;
}
.burgerIcon{
    display: none;
    
}
@media screen and (max-width: 576px){
    .teacherMenu{
        display:none;
    }
    .burgerIcon{
        display: flex;
        align-items: center;
        color:  rgba(255, 214, 0, 1);
        font-size:35px ;
        margin-left: 20px;
    }   
}
@media screen and (max-width: 576px){
    .openUp .teacherMenu{
        display:flex;
       justify-content: center;
        background:  rgba(102,102,102,1);
        margin: auto;
        margin-left: 18px;
        padding: 0px;
    }
    .openUp .burgerIcon{
        display: flex;
        align-items: center;
        color:  rgba(255, 214, 0, 1);
        
        font-size:35px ;
        margin-left: 20px;
    }
    a:hover{
        color:  rgba(255, 214, 0, 1);
        text-decoration: none;

    }
    .openUp .teacherMenuItem{
        position: relative;
    }
   
    .openUp li{
        float: none;
        display: block;
        text-align: left;
    }
}
.profileBox{
    display: flex;
    justify-content: flex-end;
}
.profileName{
    margin: 18px;
    color: white;
}
.profileIcon{
    display: flex;
    align-items: center;
    /* margin: 7px; */
}
.fa-user{
    font-size: 35px !important; 
    color: rgba(255, 214, 0, 1);
}
.navButton{
    display: flex;
    align-content: space-around;
    background: rgba(102,102,102,1);
    color: rgba(255, 214, 0, 1);
    border: none;
    padding: 7px 20px;
}
main {
    background: rgba(255, 255, 255, 1);
    margin: 20px 0px;
}
.pageContent{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.pageTitle{
    margin: 5%;   
}

.underline{
    background: rgba(255,214,0,1);
    height:5px;
    margin:0 10px   
}


footer {
    background: rgba(65,65,70,1);
    border-bottom: 20px rgba(255, 214, 0, 1) solid;
}
.footerGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
}
.trademark {
    color: rgba(255, 255, 255, 1);
}
.toTheTop {
    display: flex;
    background: rgba(255, 214, 0, 1);
    height: 40px;
    width: 40px;
}
.toTheTop:hover{
    box-shadow: 7px 9px 0px 0px rgba(255,255,255,0.5); 
    -webkit-box-shadow: 7px 9px 0px 0px rgba(255,255,255,0.5);
    -moz-box-shadow: 7px 9px 0px 0px rgba(255,255,255,0.5);
} 
.transition {
    transition: all 500ms linear;
}
.toTheTop a {
    margin: auto;
}
.fa-angle-up {
    font-size: 2em;
    color: rgba(255,255,255,1);
}